.login {
    position: absolute;
    width: 600px;
    height: 100%;
    right: 120px;
    top: 0;
    background: white;
    /* transform: translateX(150%); */
    margin-right: 50px;
    -webkit-box-shadow: 6px 0px 32px -12px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: 6px 0px 32px -12px rgba(0, 0, 0, 0.49);
    box-shadow: 6px 0px 32px -12px rgba(0, 0, 0, 0.49);

}

.login h2 {
    font-family: var(--designFont);
    text-align: center;
    color: var(--textColor);
    font-size: 30px;
    padding: 40px 10px;
    margin-top: 10px;
}

.login form {
    position: relative;
    font-family: var(--designFont);
    background-color: white;
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.login form .birthday {
    display: flex;
    gap: 20px;
}

.login form img {
    position: absolute;
    width: 120px;
    top: -130px;
    left: -65px;
}

.login form .inputField {
    font-family: var(--designFont);
    width: 100%;
}

.inputField:placeholder {
    font-family: var(--designFont);
    color: red
}

/* ========================================================
                Register Button start here 
  ======================================================== */
.login .formBtn {
    background-color: #615dfa;
    box-shadow: 4px 7px 12px 0 rgb(35 210 226 / 20%);
    padding: 18px;
    font-family: var(--designFont);
    font-size: 14px;
    font-weight: 700;
}

.login .formBtn:hover {
    background-color: #5753e4;
    transition: all ease-in-out .5s;

}

/* ========================================================
                Register Button end here 
  ======================================================== */