.login {
  width: 600px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login h2 {
  font-family: var(--designFont);
  text-align: center;
  color: var(--textColor);
  font-size: 30px;
  padding: 40px 10px;
  margin-top: 10px;
}
.login .loginForm {
  width: 100%;
  display: flex;
  justify-content: center;
}

.login form {
  position: relative;
  font-family: var(--designFont);
  width: 70%;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.login form .birthday {
  display: flex;
  gap: 20px;
}

.login form img {
  position: absolute;
  width: 120px;
  top: -130px;
  left: -65px;
}

.login form .inputField {
  font-family: var(--designFont);
  width: 100%;
}

.inputField:placeholder {
  font-family: var(--designFont);
  color: red;
}

/* ========================================================
                Register Button start here 
  ======================================================== */
.login .formBtn {
  background-color: #615dfa;
  box-shadow: 4px 7px 12px 0 rgb(35 210 226 / 20%);
  padding: 18px;
  font-family: var(--designFont);
  font-size: 14px;
  font-weight: 700;
}

.login .formBtn:hover {
  background-color: #5753e4;
  transition: all ease-in-out 0.5s;
}

/* ========================================================
                Register Button end here 
  ======================================================== */
