.loginBtn {
    width: 100%;
}

.createNewAccountBtn {
    width: full;
    display: flex;
    justify-content: center;
}

.registrationModal .boxTitle {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #dadde1;
    padding: 10px;
}

.registrationModal .boxTitle h2 {
    font-family: "Roboto";
    font-size: 24px;
}

.registrationModal .boxTitle p {
    font-family: "Poppins";
    font-size: 14px;
    color: "#606770";
}

.registrationModal .boxcrossIcon {
    color: #1c1e21;
    cursor: pointer;
}

.registrationModal .boxForm {
    display: flex;
    flex-direction: column;
    gap: 10PX;
    height: 400px;
    padding: 10px;
}

.registrationModal .boxForm .nameInput {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nameInput .input {
    background-color: rgb(248, 246, 246);
}

.registrationModal .boxForm .emailPassInput {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.registrationModal .boxForm .emailPassInput .input {
    background-color: rgb(248, 246, 246);
}

/* ================Birthday Select start here=============== */
.registrationModal .boxForm .birthday .birthdayTitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.registrationModal .boxForm .birthday .birthdayTitle p {
    font-family: var(--bodyFont);
    font-size: 14px;
}

/* ================Birthday Select end here=============== */