.register {
  width: 600px;
  background: white;
}

.register h2 {
  font-family: var(--designFont);
  text-align: center;
  color: var(--textColor);
  font-size: 30px;
  padding: 40px 10px;
}

.register form {
  position: relative;
  font-family: var(--designFont);
  background-color: white;
  width: 70%;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.register form .birthday {
  display: flex;
  gap: 20px;
}

.register form img {
  position: absolute;
  width: 120px;
  top: -130px;
  left: -65px;
}

.register form .inputField {
  font-family: var(--designFont);
  width: 100%;
}

.inputField:placeholder {
  font-family: var(--designFont);
  color: red;
}

/* ========================================================
                Register Button start here 
  ======================================================== */
.register .formBtn {
  background-color: #23d2e2;
  box-shadow: 4px 7px 12px 0 rgb(35 210 226 / 20%);
  padding: 18px;
  font-family: var(--designFont);
  font-size: 14px;
  font-weight: 700;
}

.register .formBtn:hover {
  background-color: #1bc5d4;
  transition: all ease-in-out 0.5s;
}

/* ========================================================
                Register Button end here 
  ======================================================== */
.register .errMessage {
  font-family: var(--designFont);
  font-size: 14px;
  font-weight: 700;
  width: full;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  border-radius: 10px;
  padding: 0px 10px;
}
